<app-navbar></app-navbar>

<div class="container main-container">
  <div class="row">
    <div class="col-md-4">
      <div *ngIf="!marcadorSel" class="animated fadeIn ">
        <div class="alert alert-info" role="alert">
          <strong>Haga Click</strong> en un marcador para ver su detalle y editarlo.
        </div>
      </div>


      <div *ngIf="guardado"

        class="alert alert-success animated fadeIn " id="success-alert">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Guardado! </strong>
        <br> Se han guardado los datos del marcador seleccionado.
      </div>


      <div *ngIf="marcadorSel" class="animated fadeIn fast">
        <h5>Marcador</h5>
        <hr>




        <div class="form-group">
          <label for="titulo">Titulo</label>
          <input [(ngModel)]="marcadorSel.titulo" type="text" name="titulo" class="form-control" placeholder="Titulo Marcador">
        </div>
        <div class="form-group">
          <label for="titulo">Descripción</label>
          <textarea [(ngModel)]="marcadorSel.desc" type="text" name="descripcion" class="form-control" rows="5"> </textarea>
        </div>
        <div class="form-group">
          <div class="form-group">
            <label for="draggable">Se puede mover?</label>
            <select [(ngModel)]="marcadorSel.draggable" class="form-control" name="draggable">
              <option [ngValue]="true">SI</option>
              <option [ngValue]="false">NO</option>
            </select>
          </div>
        </div>
        <button (click)="guardarMarcador()" type="button" class="btn btn-primary btn-lg btn-block">Guardar Cambios</button>
      </div>
    </div>
    <div class="col-md-8">
      <agm-map class="agm-map-container" [latitude]="lat" [longitude]="lng" [zoom]="zoom" (mapClick)="clickMapa( $event )">
        <agm-marker *ngFor="let marcador of _ms.marcadores; let i = index" [latitude]="marcador.lat" [longitude]="marcador.lng" [title]="marcador.titulo"
          [markerDraggable]="marcador.draggable" (markerClick)="clickMarcador( marcador , i)" (dragEnd)="FinArrastrarMarcador( marcador , $event )">
          <agm-info-window (infoWindowClose)="cierraInfo()">
            <strong> {{marcador.titulo}} </strong>
            <p *ngIf="marcador.desc">
              {{marcador.desc}}
            </p>
            <p>
              <br>
              <a (click)="_ms.borraMarcador(i);marcadorSel = null" class="text-danger puntero">Borrar Marcador
              </a>
            </p>
          </agm-info-window>
        </agm-marker>
      </agm-map>
    </div>
  </div>

</div>
